
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

#container {
  width: 100%;
  height: 100%;
}


.img {
  width:18rem;
  max-height:1rem;
}

/* .card {
  max-width:18rem;
  max-height:18rem;
} */


body.en :lang(th) {
  display: none;
}
body.th :lang(en){
  display: none;
}
#imgi {
  max-width: 17em;
}

#margin-btm-1 {
  margin-bottom: 1em;
}

#headtext{
  margin-top: .5em;
  margin-bottom: .5em;
  font-weight: bold;
  text-align: center;
}



/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  span,p {font-size:1.8rem;} /*1rem = 16px*/
  
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
/* mobileeeee */
@media (min-width: 768px) {  
  span,p {font-size:1.8rem;} /*1rem = 16px*/
  #small-text {font-size:1.2rem;}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  span,p {font-size:.75rem;} /*1rem = 16px*/
  .card-header {
    max-height: 3rem;
    margin: 0,0,0,0;
   
  }
  #small-text {font-size:.65rem;}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  span,p {font-size:.9rem;} /*1rem = 16px*/    
  .card-header {
    max-height: 3rem;
    margin: 0,0,0,0;
   
  }
  #small-text {font-size:.72rem;}
}



img{
  max-height: 32vh;
}

#small-carosel {
  width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}




